<html  lang = "en">
<head>
<link rel="stylesheet" type="text/css" href="styles/dr_stone.css">
<title> Dr.Stone</title>
</head>
<body>
<ul class = "top">
      <li class = "top"><a href="/Users/cssi/Blogasauraus/one_piece_file.html">One piece</a></li>
      <li class = "top"><a class="active"href="">Dr.Stone</a></li>
      <li class = "top"><a  href="/Users/cssi/Blogasauraus/hunterxhunter.html">Hunter</a></li>
      <li  class = "top" style="float:right"><a  href="/Users/cssi/Blogasauraus/index.html">Home</a></li>
</ul>
<h1>New Anime I've been watching:Dr.Stone</h1>
<br>
<br>
<br>
<br>
<section>
  <h2> How I got into the series</h2>
  <p> Looked for a good scifi series, and this anime's trailer was amazing</p>
  <img src ="images/stone_trailer.jpg" alt ="Trailer">
</section>
<h2> Here are some of my favorite Dr.Stone characters</h2>
<div>
  <ul style="list-style-type:disc;">
    <li>
      <a href ="https://dr-stone.fandom.com/wiki/Senku_Ishigami">Senku</a>
      <p>Senku is probably the smartest living thing in the universe and a try hard troll</p>
      <img src="https://vignette.wikia.nocookie.net/dr-stone/images/6/67/Senkuu_Profile.png/revision/latest?cb=20170702123323" alt="Senku">
    </li>
    <li>
      <a href ="https://dr-stone.fandom.com/wiki/Asagiri_Gen">Asagiri Gen</a>
      <p> Gen is one of the most shallow living things you'll ever see , but he gets some pretty good character development </p>
      <img src="https://vignette.wikia.nocookie.net/dr-stone/images/9/90/Asagiri_Gen_1.jpg/revision/latest?cb=20171207233501" alt="Gen">
    <li></li>
    <li>
      <a href ="https://dr-stone.fandom.com/wiki/Tsukasa_Shishio">Tsukasa</a>
      <p> Here's Tsukasa, an anime villain who is sort of a terrible person, but also really smart such a rarity</p>
      <img src="https://vignette.wikia.nocookie.net/dr-stone/images/9/98/Tsukasa_Profile.png/revision/latest?cb=20170629163716" alt="Tsukasa">
    </li>
  </ul>
</div>
</html>
