<html  lang = "en">
<head>
<link rel="stylesheet" type="text/css" href="styles/hunterxhunter.css">
<title> HunterxHunter</title>
</head>
<body>
<ul class = "top">
    <li class = "top"><a href="/Users/cssi/Blogasauraus/one_piece_file.html">One piece</a></li>
    <li class = "top"><a href="/Users/cssi/Blogasauraus/dr_Stone.html">Dr.Stone</a></li>
    <li class = "top"><a class="active" href="#hunterxhunter">Hunter</a></li>
    <li  class = "top" style="float:right"><a  href="/Users/cssi/Blogasauraus/index.html">Home</a></li>
</ul>
<h1>Favorite anime in terms of character development</h1>
<br>
<br>
<br>
<br>
<section>
  <h2> How I got into the series</h2>
  <p> Finished yu yu hakusho another great series, and this was written by the same author</p>
  <img src ="https://upload.wikimedia.org/wikipedia/en/thumb/9/99/YYK_protagonists.jpg/300px-YYK_protagonists.jpg" alt ="Yu Yu Hakusho">
</section>
<h2> Here are some of my favorite Hunterxhunter characters</h2>
<ul >
  <li class = "character-list">
    <a href ="https://hunterxhunter.fandom.com/wiki/Gon_Freecss">Gon</a>
    <p>Gon is a pretty interesting character<br> who is a lot more than what <br>meets the eye </p>
    <img src="images/Gon.jpg" class = "circle-image" alt="Gon">
  </li>
  <li class = "character-list">
    <a href ="https://hunterxhunter.fandom.com/wiki/Killua_Zoldyck">Killua Zoldyck</a>
    <p> Killua is probably the <br>coolest thirteen year old who you'll ever see </p>
    <img src="https://imgix.ranker.com/user_node_img/50081/1001610903/original/if-i-ignore-a-friend-photo-u3?w=650&q=50&fm=pjpg&fit=crop&crop=faces" class = "circle-image" alt="Killua">
  <li class = "character-list">
    <a href ="https://hunterxhunter.fandom.com/wiki/Kurapika">Kurapika</a>
    <p> Kurapika is sasuke done right, concluded</p>
    <img src="images/Kurapika.jpg" alt="Kurapika" class = "circle-image">
  </li>
</ul>
</html>
