<html  lang = "en">
<head>
  <link rel="stylesheet" type="text/css" href="styles/one_piece.css">
<title> One Piece</title>
</head>
<body>
<ul class = "top">
    <li class = "top"><a class="active"href="">One piece</a></li>
    <li class = "top"><a href="/Users/cssi/Blogasauraus/dr_Stone.html">Dr.Stone</a></li>
    <li class = "top"><a href="/Users/cssi/Blogasauraus/hunterxhunter.html">Hunter</a></li>
    <li  class = "top" style="float:right"><a  href="/Users/cssi/Blogasauraus/index.html">Home</a></li>
</ul>
<h1 >Best anime:One Piece</h1>
<section>
  <h2> How I got into the series</h2>
  <p> I used to watch a classic anime like naruto, but them my uncle got me into this series and there went my freetime</p>
  <img src ="images/Uncle.jpg" alt ="Uncle">
</section>
<h2> Here are some of my favorite one piece characters</h2>
<ul style="list-style-type:disc;">
  <li class = "circle">
    <a href ="https://onepiece.fandom.com/wiki/Kaido">Kaido</a>
    <p> So it's kind of meme on the internet that Kaido is a dragon so yeah he's a dragon</p>
    <img src="images/Kaido.jpg" alt="Kaido">
  </li>
  <li class = "circle">
    <a href ="https://onepiece.fandom.com/wiki/Luffy">Luffy</a>
    <p> So Yeah luffy the main character is one of my favorite characters , hmm I wonder why</p>
    <img src="images/Luffy.jpg" alt="Luffy">
  <li></li>
  <li class = "circle">
    <a href ="https://onepiece.fandom.com/wiki/Zoro">Zoro</a>
    <p> This is Zoro, swordsman who cuts mountains with pocket knives yeah</p>
    <img src="images/Zoro.jpg" alt="Zoro">
  </li>
</ul>
</html>
